@import url("fontawesome-all.min.css");

ol, ul {
	list-style: none;
	padding-left: 0px;
	font-size: 20px;
	font-family: 'Urbanist', sans-serif;
}

header {
	padding-top: 100px;
}

nav {
	height: auto;
	display: inline;
	padding-bottom: 50px;
}

nav a {
  	margin-right: 15px;
  	margin-left: 15px;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	float: right;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Urbanist', sans-serif;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	border: 1px solid #E6F2DF;
	border-radius: 50%;
	padding: 5px;
}

nav a:hover {
	border: 1px solid #171717;
	border-radius: 50%;
	padding: 5px;
	color: #171717;
	text-decoration: none;
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.noto-sans-hebrew {
	font-family: font-family: "Noto Sans Hebrew", sans-serif;
}

.noto-sans-kr {
	font-family: "Noto Sans KR", sans-serif;
}

.noto-nastaliq-urdu {
	font-family: "Noto Nastaliq Urdu", serif;
}

.redesign {
	display:block;
}

body {
	background-color: #E6F2DF;
	width: 1000px;
    margin: 0 auto;
}

h1 {
	font-size: 60px;
	font-weight: 900;
	font-family: 'Urbanist', sans-serif;
	color:#171717;
	line-height: 100%;
	padding-top: 0px;
	padding-bottom: 20px;
}

.h1-index {
	display:inline-block;
	padding-bottom: 50px;
	line-height: 140%;
	font-size: 70px;
}

h2 {
	font-size: 26px;
	font-family: 'Urbanist', sans-serif;
	color:#171717;
	padding-bottom: 0px;
}

h3 {
	font-size: 20px;
	font-family: 'Urbanist', sans-serif;
	font-weight: 400;
	color: #171717;
	line-height: 25px;
	display: block;
}

h4 {
	font-family: 'Urbanist', sans-serif;
	font-size: 14px;
	color: #868686;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.initials {
	font-family: 'Urbanist', sans-serif;
	font-size: 36px;
	font-weight: 900;
}

p {
	font-family: 'Urbanist', sans-serif;
	font-size: 16px;
	line-height: 26px;
	text-align: left justify;
	color:#171717;
	font-weight: 500;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
	color: #171717;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 1px;
	text-decoration-color: #171717;
	font-family: 'Urbanist', sans-serif;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 1px;
	text-decoration-color: #B196DE;
	color: #B196DE;
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

footer {
	position: relative;
	text-align: center;
	padding-top:25px;
	padding-bottom: 15px;
}

footer a {
	margin-right: 10px;
  	margin-left: 10px;
}

footer p {
	padding-top: 25px;
	text-align: center;
	font-size: 14px;
}

.img-fluid {
	width: 100%;
	border-radius: calc(.25rem - 1px);
	overflow: hidden; 
    margin: 0 auto; 
	transition: 0.5s all ease-in-out;
}

/*.img-fluid:hover {
	transform: scale(1.02); 
}*/

.img-icon {
	width:120px;
	padding-right: 20px;
	margin-left: -5px;
}

.case-study:hover{
	transform: none;
}

.row {
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	flex-direction: row;
}

.row img {
	margin-bottom: 30px;
	vertical-align: middle;
	width: 100%;
}

.experience {
	padding-bottom: 30px;
}

.project-cover {
	padding-top: 30px;
}

.project-cover h3 {
	padding-top: 15px;
	padding-left: 15px;
}

.project-cover h4 {
	padding-left: 15px;
}

.project {
	margin-top: 20px;
}

.section {
	padding-top: 0px;
}

.intro {
	padding-bottom: 30px;
}