@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

ol, ul {
	list-style: none;
	padding-left: 30px;
	font-size: 17px;
	font-family: Cardo, serif;
}

strong, b {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

header {
	padding: 50px 100px 0px;
}

header p, header h1 {
	width: 75%;
}

nav {
	height: auto;
	margin-right: 100px;
}

nav a {
  	margin-right: 10px;
  	margin-left: 10px;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	float: right;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
}

.main {
	padding: 50px 100px 25px;

}

h1 {
	font-size: 40px;
	font-weight: 700;
	font-family: Montserrat;
	line-height: 60px;
	padding-bottom: 25px;
}

h2 {
	font-size: 25px;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	line-height: 40px;
}

h3 {
	font-size: 18px;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	color: #798f20;
	line-height: 40px;
}

h4 {
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	line-height: 0px;
	color: #8e8e8e;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 20px;
}

.projects {
	width: 100%;
	padding: 25px 0px 25px 50px;
}

.project-flyer, .project-logo, .project-post {
	width: 100%;
}

.project-flyer-left img {
	width: 30%;
	float: left;
	padding-right: 10px;
	padding-bottom: 20px;
	vertical-align: middle;
}

.project-flyer-right {
	width: 65%;
	float: right;
	padding-bottom: 20px;
	margin-bottom: 110px;
	vertical-align: middle;
}

.project-post-left img {
	width: 30%;
	float: right;
	padding-right: 25px;
	padding-bottom: 10px;
	vertical-align: middle;
}

.project-post-right {
	width: 65%;
	float: left;
	padding-bottom: 10px;
	vertical-align: middle;
}

.project-logo-top img {
	width: 75%;
	padding-bottom: 25px;
	padding-bottom: 10px;
	vertical-align: middle;
	float: center;
}

.project-logo-bottom {
	width: 100%;
	padding-bottom: 10px;
	vertical-align: middle;
}

div.experience h3 {
	font-style: normal;
}

div.experience h4, div.section p, #header p {
	margin-left:30px;

}

p {
	font-family: Cardo, sans-serif;
	font-size: 17px;
	line-height: 25px;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	color: #f06449;
	text-decoration: none;
	font-family: Cardo, serif;
}

a:hover {
	text-decoration: underline;
}

footer {
	position: relative;
	text-align: center;
	padding-top:50px;
}

footer a {
	margin-right: 10px;
  	margin-left: 10px;
  	font-family: Montserrat, sans-serif;
  	font-weight: 300;
}

footer p {
	padding-top: 25px;
}

.row {
	width: 100%;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	padding-bottom:25px;
}

.col-md-6 {
	position: relative;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px
}

.overlay {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	transition: .5s ease;
	background-color: black;
}

.skill-left {
	width:100%;
}

.skill-right {
	width:100%;
}

.skill-left:hover .overlay, .skill-right:hover .overlay {
  opacity: 0;
}

.overlay p {
	color: white;
	font-size: 20px;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}