@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

ol, ul {
	list-style: none;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

header {
	padding: 50px 100px 0px;
}

header p, header h1 {
	width: 75%;
}

nav {
	height: 100%;
}

nav li {
  	margin-right: 10px;
  	margin-left: 10px;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	float: right;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

#main {
	padding-left: 100px;
	padding-right: 100px;
}

h1 {
	font-size: 40px;
	line-height: 1.5em;
	font-weight: bold;
	font-family: Anonymous Pro, monospace;
}

h2 {
	font-size: 25px;
	line-height: 1.5em;
	font-family: Anonymous Pro, monospace;
}

h3 {
	font-size: 18px;
	line-height: 1.5em;
	font-family: Anonymous Pro, monospace;
	font-weight: 400;
	font-style: italic;
	color: #45c99f;
}

h4 {
	font-family: Anonymous Pro, monospace;
	font-size: 15px;
	color: #8e8e8e;
	text-transform: uppercase;
	font-weight: normal;
}

.projects {
	width: 100%;
	padding: 25px 0px 25px 50px;
}

.project-flyer, .project-logo, .project-post {
	width: 100%;
}

.project-flyer-left img {
	width: 30%;
	float: left;
	padding-right: 10px;
	padding-bottom: 20px;
	vertical-align: middle;
}

.project-flyer-right {
	width: 65%;
	float: right;
	padding-bottom: 20px;
	margin-bottom: 110px;
	vertical-align: middle;
}

.project-post-left img {
	width: 30%;
	float: right;
	padding-right: 25px;
	padding-bottom: 10px;
	vertical-align: middle;
}

.project-post-right {
	width: 65%;
	float: left;
	padding-bottom: 10px;
	vertical-align: middle;
}

.project-logo-top img {
	width: 75%;
	padding-bottom: 25px;
	padding-bottom: 10px;
	vertical-align: middle;
	float: center;
}

.project-logo-bottom {
	width: 100%;
	padding-bottom: 10px;
	vertical-align: middle;
}

div.job h3{
	font-style: normal;
}

p {
	font-family: Open Sans, sans-serif;
	font-size: 18px;
}

ul, p {
	font-family: Open Sans, sans-serif;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	color: #45c99f;
	text-decoration: underline;
	font-family: Open Sans, sans-serif;
}

a:hover {
	text-decoration: underline;
	color: pink;
}

footer {
	position: relative;
	text-align: center;
}

.row {
	width: 100%;
	padding-bottom: 10px;
}

.column1 {
	width: 33.3%;
	float: left;
}

.column2 {
	width: 33.3%;
	float: left;
}

.column3 {
	width: 33.3%;
	float: left;
	height:100%;
	margin-bottom: 200px;
}